
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  
  @media (min-width: 769px) {
    height: calc(100vh - var(--header-height, 120px));
    overflow: hidden;
  }
}
