.container {
  padding-top: var(--space-20);
  padding-bottom: var(--space-20);
}

.hero {
  text-align: center;
  margin-bottom: var(--space-20);

  svg {
    padding-top: var(--space-20);
    max-width: 600px;
    max-height: 600px;
    width: 100%;
  }
}